#barChartExample {
    background-color: #C7D9D9;  
}

#horzBarChart {
    background-color: whitesmoke;  
}

#dateSelect {
    margin-left: 20px;
}

#dateSelect p {
    margin-left: 30px;
}

#excludeChina {
        margin-left: 20px;
}